<div class="monitors standart-padding">
    <a name="monitors"></a>
    <div class="descript-block">
        <h2 class="nameOfDescript">Мониторы</h2>
        <p class="descript">наши разработчики активно работают <br> над мониторами, чтобы пользователи <br> первыми узнавали о шок-дропах и рестоках</p>
    </div>

    <div class="details">
        <div class="circle shopify">
            <img src="/assets/img/monitors/shopify.png" alt="logo-shopify">
        </div>
        <div class="point-img">
            <img src="/assets/img/monitors/point.png">
            
        </div>
        <div class="circle ru">
            <img src="/assets/img/monitors/ru.png" alt="russia-map">
        </div>
    </div>


</div>
<div class="transition"></div>
