<div class="social">
    <a name="social"></a>
    <h2>Контакты</h2>
    <p>Задать нам вопросы и ознакомиться с нашими успехами можешь <br> в социальных сетях</p>
    <div class="img-links">
        <div class="img-link">
            <a href="https://vk.com/quasarcook" target="_blank"><img src="/assets/img/social/vk.png" alt="vk"></a>
        </div>
        <div class="img-link">
            <a href="https://www.instagram.com/quasarcook/" target="_blank"><img src="/assets/img/social/inst.png" alt="instagram"></a>
        </div>
        <div class="img-link">
            <a href="https://twitter.com/quasarcook/" target="_blank"><img src="/assets/img/social/tw.png" alt="twitter"></a>
        </div>
        <div class="img-link">
            <a href="https://vk.com/quasar_logistic" target="_blank"><img src="/assets/img/logo/quasar_logistic.svg" alt="quasar_logistic"></a>
        </div>
    </div>
</div>