<div class="successes">
    <a name="successes"></a>
    <div class="descript">
        <h2 class="nameOfDescript">Успехи</h2>
    </div>

    <div class="blockOfSuccesses">

        <div class="perMonth">
            <h3 class="month">Месяц</h3>
            <div class="descript-success">
                Текст <br> (описание дропов,<br> комментарии и т.д)
            </div>
            <div class="img-success">
                <img src="/assets/img/example-success/success.jpg" alt="" class="img-success">
            </div>
            <div class="otherMonth">
                <span id="prev" class="prev">&lt;</span> <span>посмотри <br> другие месяцы</span> <span id="next" class="next">&gt;</span>
            </div>
        </div>

        <div class="smth">

        </div>
    </div>
</div>